
.Vid, #backup_Img{
  z-index: -3;
  height: 75vh; 
  object-fit: cover;
  width: 102vw;
  margin-top:12.2vh;
  margin-left: 6vw;
  transform: rotateZ(-9.5deg);
  border-end-end-radius: 1em;  
  border-end-start-radius: 2em;
}

#body{
  outline: 1px solid red;
  
}
.controls{
  z-index: 10; 
  color: red;
  margin-left: 60vw;
  position: absolute;
  top: 1em;
  cursor: pointer;
  font-size: 10em;
}
.nav{
  font-size: 1vw;
}
.homeLink:hover{
  color: rgb(236, 129, 188);
}
#header{
  background-color:rgba(0, 0, 0, 0.377);
  width: 100vw;
}

#current_link{
  color: rgb(236, 129, 188);
}
#back1{
  
  background-color: rgb(236, 129, 188);
  width: 110vw;
  position: absolute;
  top:-10vh;
  left: -5vw;
  transform: rotateZ(-10deg);
  height: 78vh;
  object-fit: cover;
}
#back2{
  background-color: rgb(236, 129, 188);
  top: -2vh;
  width: 110vw;
  position: absolute;
  transform: rotateZ(19.5deg);
  height: 78vh;
  object-fit: cover;
  
}
#back3{
  /* background-color: aqua; */
  background-color: rgb(236, 129, 188);
  left: -45vw;
  /* padding-right: 19vw; */
  top: -45vh;
  /* border-right: 3vw; */
    /* background-color: transparent; */
    /* border: 1px solid red; */
  width: 50vw;
  position: absolute;
  /* left: 59vw;
  top:55vh; */
  /* transform: rotateZ(70deg); */
  transform: skew(80deg, -50deg);
  /* transform: rotateZ(19.5deg); */
  height: 78vh;
  object-fit: cover;
  
}

#toggle_btn{
  cursor: pointer;
  visibility: hidden;
}
#toggle_btn:hover{
  color: rgb(236, 129, 188);
}
#closeBtn:hover{
  color: rgb(236, 129, 188);

}
@media only screen and (max-width:1000px){
  .nav{
    visibility: hidden;
  }
  #toggle_btn{
    margin-left: -10vw;
    visibility: visible;
  }
  #title{
    /* color: red; */
    margin-right: 5vw;
  }
  #back1, #back2{
     background-color: transparent;
     left: 0;
     top: 0;
     position: relative;
     transform: rotateZ(0deg);
  }
   #back3{
    background-color: transparent;
    left: 0;
    top: 0;
    position: relative;
    transform: skew(0deg);
  }
  #backup_Img, .Vid{
    object-fit: cover;
    /* transition: ease-in-out 10s; */
    z-index: -3;
    width: 100vw;
    height: 75vh;   
    margin-top:-31em;
    margin-left: -2vw;
    transform: rotateZ(0deg);
    
    border-end-end-radius: 1em;  
    border-end-start-radius: 1em;
  
  }
  .controls{
    margin-left: 40vw;
    top: 5vh;
  }
  #header{
    background-color:transparent;
    position: fixed;
  }
  #header::after{
      background-color:rgba(0, 0, 0, 0.377);
  }
}